body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow-left{
  width: 1.5rem;
}

.napkin{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.napkin-header{
  border-bottom: 1px solid black;
}

.napkin-body{

}


.transport-segment{

}

.flight-segment-header{
  border-bottom: 1px solid black;
}

.transport-segment-header-circle{
  width: 1rem;
}

.transport-segment-body{
  border-left: 3px solid black;
}

.border-black{
  border: 1px solid black;
}

.bg-dark-blue{
  background-color: #4545ff;
}

.bg-light-blue{
  background-color: #6464ff;
}

.text-085{
  font-size: .85rem;
}

.flight-segment-icon{
  width: 4rem;
}

.flight-transport-body{
  font-size: 1.5rem;
  font-weight: 500;
}

.flight-transport-footer{
  border-top: 1px solid black;
}